field_name,field_type,datatype,regex,description
domain,artifact,domain,,
file,artifact,file,,
filename,artifact,filename,,
fqdn,artifact,fqdn,,
hash,artifact,hash,,
ip,artifact,ip,,
mail,artifact,mail,,
mail_subject,artifact,mail_subject,,
other,artifact,other,,
regexp,artifact,regexp,,
registry,artifact,registry,,
uri_path,artifact,uri_path,,
url,artifact,url,,
user-agent,artifact,user-agent,,
